body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  background-color: #374954;
  text-align: center;
}

.container {
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  font-size: 90px;
}
